/**
 * @license
 * SPDX-License-Identifier: Apache-2.0
 */

export type SectionType = 'addDx' | 'addCpt';

export interface CodingTags {
  addDx: string[];
  addCpt: string[];
}

export interface CptToDxMap {
  id: string;
  cpt: string;
  dxs: string[];
}

export interface CptToModMap {
  id: string;
  cpt: string;
  mods: string[];
}
